.card {
  aspect-ratio: 2 / 3;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  flex-shrink: 0;
  background-repeat: no-repeat;
  image-rendering: auto;
}

.sm {
  width: 2.25rem;
}

.md {
  width: 4.5rem;
}

.lg {
  width: 6rem;
}
